@using GroupM.CSE.ProofOfIdea
<div class="col-xs-offset-2 col-md-offset-3 col-lg-offset-3 col-xs-8 col-md-6 col-lg-6 cseBlueFrame" style="padding:50px;min-width:600px">
    <h2>@ResourceLang.WouldYouLikeToCreateCompany</h2>
    <p>@ResourceLang.CreateCompanyDescription</p>
    <div class="row text-center" style="padding-left:50px;padding-right:50px">
        <button type="submit" class="cseButtonSolidLg pull-left" id="btnCreateCompany" name="btnCreateCompany" value="Create">@ResourceLang.CreateCompany.ToUpper()</button>
        <button type="submit" class="cseButtonSolidLg pull-right" id="btnCreateCompany" name="btnCreateCompany"  value="Skip">@ResourceLang.Skip.ToUpper()</button>
    </div>
</div>
